<!DOCTYPE html>
<html>
<head>
<title>Cupom</title>
<style>
body { font-family: monospace; width:300px; }
</style>
</head>
<body onload="window.print()">

<h2>CYBER PDV</h2>
<hr>

<% itens.forEach(i => { %>
<p>
<%= i.nome %><br>
<%= i.quantidade %> x R$ <%= i.preco %>
</p>
<% }) %>

<hr>

<h3>Total: R$ <%= venda.total %></h3>
<p><%= venda.data %></p>

</body>
</html>